services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: threat_logs
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - ai_network

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: "postgresql://user:password@db:5432/threat_logs"
    depends_on:
      - db
    networks:
      - ai_network

  frontend:
    build: ./frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
    networks:
      - ai_network

networks:
  ai_network:
    driver: bridge

volumes:
  postgres_data: